server:
  port: 8081
  servlet:
    context-path: /api
    session:
      cookie:
        # 设置7天
        max-age: 604800
spring:
  application:
    name: lumina-picture-backend
  profiles:
    active: local
  servlet:
    multipart:
      max-file-size: 10MB
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    # 仅在开发环境输出日志
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: isDelete # 全局逻辑删除的实体字段名
      logic-delete-value: 1 # 逻辑已删除值（默认为 1）
      logic-not-delete-value: 0 # 逻辑未删除值（默认为 0）

